
:root {
    --bg-w: white;
    --bg-b: #2b9df4;
    --bg-bk: black;
  }
  
  * {
    font-family: "Orbitron", sans-serif;
  }
  
  .a{
      color: white;
  }
  
  .b{
     color: blue;
  }
  
  .header-custom{
    background-image: linear-gradient(rgba(0, 0, 0, 0.485), rgba(0, 0, 0, 65%)),
        url(./media/moon.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      color: var(--bg-w);
      background-position: center;
    }
  
  .linea{
    height: 2px;
      width: 100%;
      background-color: var(--bg-b);
  }
  
  
  .c{
    background-color: black;
  }
  
  
  .nav-link {
    text-decoration: none;
    color: white;
  }
  
  nav {
    border-bottom: 1px solid white;
  }
  
  /* sezione parte con immagine missile */
  .s {
    margin-top: 200px;
  }
  
  /* inizio dei 6 paragrafi e fbottoni */
  .button-custom {
    height: 50px;
    width: 130px;
    padding: 10px;
    background-color: black;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
  }
  
  .top-left {
    height: 20px;
    width: 20px;
  
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px solid var(--bg-b);
    border-left: 2px solid var(--bg-b);
  }
  
  .top-right {
    height: 20px;
    width: 20px;
  
    position: absolute;
    top: 0;
    right: 0;
    border-top: 2px solid var(--bg-b);
    border-right: 2px solid var(--bg-b);
  }
  
  .bottom-left {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid var(--bg-b);
    border-left: 2px solid var(--bg-b);
  }
  
  .bottom-right {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--bg-b);
    border-right: 2px solid var(--bg-b);
  }
  /* fine sezione 6 paragrafi + fbottoni */
  
  .riga {
    position: relative;
    height: 3px;
    width: 650px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid var(--bg-b);
  }
  
  .x {
    height: 10vh;
  }
  
  .m{
    height: 30vh;
  }
  
  @media screen and (max-width: 600px) {
    body{
      min-width: 40vh;
      align-items: center;
    }
  
    .riga{
      width: 300px;
    }
      
    .v{
      padding-top: 100px;
      }
  
      .t{
        margin-bottom: 400px;
      }
  
      .s{
      margin-top: 60px;
      }
  
      .q{
      padding-top: 700px;
      }
  }